module Cellophane
	class Options
		def self.project_options
			{
				:cucumber => '--format progress --no-profile',
				:feature_path => 'cuke/features',
				:step_path => 'cuke/steps',
				# :step_path => {:nested_in => 'step_definitions'},
				:requires => [
					'cuke/support/',
					'cuke/steps/shared/'
				]
			}
		end
	end
end